[submodule "EPIJudge"]
	path = EPIJudge
	url = https://github.com/adnanaziz/EPIJudge.git
[submodule "hackerrank"]
	path = hackerrank
	url = git@github.com:winnochan/hackerrank.git
[submodule "spoj"]
	path = spoj
	url = git@github.com:winnochan/spoj.git
